*{
    box-sizing: border-box;
}

div{
    display: flex;
    border: 1px solid black;
}

.main{
    width: 1000px;
    height: 1000px;
}

.menu{
    width: 1000px;
    height: 200px;
}

.content{
    width: 1000px;
    height: 200px;
    align-items: center;
}

.footer{
    width: 1000px;
    height: 200px;
    align-items: flex-end;
}